.purchasePool {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    margin-bottom: 30px;
}

.example-container {
    position: relative;
    min-height: 200px;
}
  
.example-table-container {
    position: relative;
    overflow: auto;
}
  
table {
    width: 100%;
}
  
.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width:100%;;
    box-shadow: 0 2px 6px 1px rgba(0,0,0,.4);
    margin-bottom: 10px;
    background-color: rgb(245, 245, 245);
}