<mat-toolbar color="warn">
    <span>Vending Machine</span>
    <button mat-button class="example-icon favorite-icon" color="accent" (click)="refreshAll()">
      Refresh All <mat-icon>cached</mat-icon>
    </button>
</mat-toolbar>

<app-coins 
(coinClicked)="appendCoinValue($event)"
[refreshed] = "refreshed"
[returnedCoins] = "returnedCoins"
></app-coins>

<div class="purchasePool">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Input / Output Pool</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class = "product-change">
        <div class="product" *ngIf="purchasedProduct">
          <h3>You Bought: {{purchasedProduct.ProductName}}</h3>
        </div>
        <div class="tendered" *ngIf="amountTendered">
          Amount Tendered: {{amountTendered | currency:  'ZAR'}}
          <br>
          <button mat-raised-button (click)="returnAllCoins()">Return Coins Tendered</button>
        </div>
        <div class="change" *ngIf="change">
          Change: {{change | currency:  'ZAR'}}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="example-container mat-elevation-z8">
  <div *ngIf="loading">
    <app-loader></app-loader>
  </div>
  <div class="example-table-container">

    <table mat-table [dataSource]="products" class="example-table">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Product Name</th>
        <td mat-cell *matCellDef="let row">{{row.ProductName}}</td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Product Price</th>
        <td mat-cell *matCellDef="let row">{{row.ProductPrice | currency: 'ZAR'}}</td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Product Quantity</th>
        <td mat-cell *matCellDef="let row">{{row.ProductQuantity}}</td>
      </ng-container>

      <!-- Purchase Column -->
      <ng-container matColumnDef="purchase">
        <th mat-header-cell *matHeaderCellDef>
          Purchase
        </th>
        <td mat-cell *matCellDef="let row">
          <button [disabled] = "row.ProductPrice > amountTendered"
          (click)="purchaseItem(row)">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!-- <mat-paginator [length]="products.length" [pageSize]="5"></mat-paginator> -->
</div>
